


    <!-- <mat-toolbar color="primary" id="content"> -->
    <mat-toolbar  id="content">

    
                 
      <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> -->
     
     
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon >menu</mat-icon>
      </button> -->

      <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="home">
          <span>Home</span>
          </button>
        <button mat-menu-item routerLink="aboutus">
        <span>About us </span>
        </button>
        <button mat-menu-item routerLink="partners">
        <span> Partners</span>
        </button>
        <button mat-menu-item routerLink="products">
        <span>Product </span>
        </button>
        <button mat-menu-item routerLink="careers">
        <span>Career </span>
        </button>
        <button mat-menu-item routerLink="blog" >
        <span> blog</span>
        </button>
        <button mat-menu-item routerLink="login" >
        <span>Login / signup</span>
        </button>
      </mat-menu> -->



      <span class="head"> 
       <a routerLink="/home">
        <img src="../../assets/KPT-Localization-Logo-174x60.png">
      </a>
      </span>
      
      <span class="example-spacer"></span>

      <!--       
      <section >
        <div class="example-button-row" >
         <a mat-button  routerLink="/home">Home</a>
          <a mat-button routerLink="aboutus">About us</a>
          <a mat-button routerLink="partners">partners</a>
          <a mat-button routerLink="products">product</a>
          <a mat-button routerLink="careers" >Career</a>
          <a mat-button routerLink="blog" >blog </a>
      </div>
      </section> -->

     










 



      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        <mat-icon>share</mat-icon> 
      </button> -->







      <!-- <div ng-controller="DropdownCtrl">
        <a class="css-dropdown" >
          <p class="menuName">Menu </p> 
           <div class="css-dropdown-menu">
             <p mat-button routerLink="/home">Home</p>
             <p mat-button routerLink="aboutus">About us</p>
             <p mat-button routerLink="partners">partners</p>
             <p mat-button routerLink="products">product</p>
             <p mat-button routerLink="careers" >Career</p>
             <p mat-button routerLink="blog" >blog </p>
             </div>
         </a>
  
        </div> -->
  

        <!-- <div class="dropdown">
          <button class="dropbtn">Menu</button>
          <div class="dropdown-content">
            <a mat-button routerLink="/home">Home</a>
             <a  mat-button routerLink="aboutus">About us</a>
             <a mat-button routerLink="partners">partners</a>
             <a mat-button routerLink="products">product</a>
             <a mat-button routerLink="careers" >Career</a>
             <a mat-button routerLink="blog" >blog </a>
             <a mat-button routerLink="login">Login/signup </a>
           
          </div>
        </div> -->



    </mat-toolbar>

 

    <button id="chatBot"> 
      <img src="../../assets/1606905546274_bot-logo-2.png" class="chatbot_logo">
    </button>
    <!-- <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item>hi</button>
      <button mat-menu-item>hi2 </button>
    </mat-menu> -->