
<mat-toolbar color="primary" class="container">
 
    <div class="left">
         <span >
        Contact us with
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>facebook</mat-icon>
            <mat-icon>whatsapp</mat-icon>
            </button>
    </span>


</div>

<div class="middle">

    <span class="example-spacer" >
        Products
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"></button>
       <span>
       <p> Xploree Keyboard</p>
   

       </span>
    </span>
</div>


<div class="last">
    <span class="example-spacer" >
       <p>Who We Are </p> 
       <p> Leadership</p> 
   
    </span>
</div>


  </mat-toolbar>