// .example-container .mat-form-field + .mat-form-field {
//     margin-left: 10%;
//   }
.container{
  padding-top: 5%;
  width: 100%;
  height: 100%;
  background-color: rgb(178, 205, 205);
  }

#emailimput{
  // margin-left: 10%;
  width: 99%;
}

#pwdinput{
 width: 99%;
}

  .example-card {
    max-width: 300px;
    // align-items: center;
    margin-left: 38%;
    margin-top: 10%;
    margin-bottom: 12%;
  }
  
  .example-header-image {
    background-image: url('../../assets/1606905546274_bot-logo-2.png');
    background-size: cover;
  }
  

  .action{
    margin-left: 39%;
    // align-content: center;
  }
  .action2{
    margin-left: 30%;
  }