<div class="container">
    <mat-card class="example-card">
        <mat-card-title> Our OEM Partners </mat-card-title>
        <mat-card-subtitle>Partnering Success</mat-card-subtitle>
        <mat-card-content>
          <p>Our expertise and efforts have tasted success due to the constant encouragement and belief of our partners. We have always endeavored to provide our partners with innovative and best in class solutions and services addressing their most pressing challenges.</p>
          <!-- <p>{{longText}}</p> -->
        </mat-card-content>
        <mat-card-actions class="partnersPic">
            <div><img src="../../assets/celkon.png"> &nbsp; &nbsp;&nbsp;&nbsp;<img src="../../assets/Coolpad.png" > &nbsp;&nbsp;&nbsp;&nbsp;<img src="../../assets/iball.png">&nbsp;&nbsp; &nbsp;&nbsp;<img src="../../assets/infocus.png"></div><br><br><br>
            <div><img  src="../../assets/lava.png"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="../../assets/intex.png"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="../../assets/Karbonn.png"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="../../assets/mafe.png"></div>


          <!-- <button mat-button>Contact us</button> -->
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
</div>
