<div class="container">
    <div class="content">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab class="pic" label="Xploree AI Keyboard"> <img src="../../assets/xploree-img.png"> </mat-tab>
        <mat-tab class="pic" label="Localization"><img src="../../assets/localization-img.png"></mat-tab>
        <mat-tab class="pic" label="SDK & Chatbot"> <img src="../../assets/technology-img.jpg"></mat-tab>
      </mat-tab-group>
    </div>

    <!-- <mat-card class="example-card">
        <mat-card-title> Know More </mat-card-title>
        <mat-card-subtitle>About Us</mat-card-subtitle>
        <mat-card-content>
     
       
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Contact us</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card> -->




</div>
