
    <div class="container">
        <mat-card class="example-card">
          <mat-card-title> OUR BLOG </mat-card-title>
          {{ longText }}
            <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            <mat-card-content class="imgPosition">
             <div> </div>
             <div></div>
             <div></div>
             
            </mat-card-content>
         
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
    </div>
    

