.container{
  padding-top: 5%;
  width: 100%;
  height: 100%;
  background-color: rgb(178, 205, 205);
  }

.example-card {
    margin-left: 4%;
    margin-top: 3%;
    max-width: 90%;
    height: 79%;
    // background-color: white;
    background-color: rgb(241, 246, 246);
  }
  .imgPosition{
      padding-left: 30%;
      padding-top: 3%;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
   margin-left: 80%;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
  .RoboName{
    padding-left: 42%;
    font-size:larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;
    color: rgb(146, 81, 49);
  }