<div class="container">
 
    <mat-card class="example-card">
        
        <mat-card-content class="imgPosition">
        
          <img src="../../assets/robo.png">
        </mat-card-content>
     
        <p class="RoboName">hi i am Alexa</p>
          <!-- <section>
            <div class="example-label"></div>
            <div class="example-button-row">
            
             <button mat-raised-button color="primary"  (click)="login()">Login</button>
             
              </div>
          </section> -->
       
        </mat-card>
        <!-- <app-footer></app-footer> -->
</div>

